<div class="container">
  <h2><%= @restaurant.name.capitalize %></h2>
  <div class="address">
    <p>Address: <%= @restaurant.address %></p>
  </div>
  <div class="phone_number">
    <p>Phone number: <%= @restaurant.phone_number %></p>
  </div>
  <div class="category">
    <p>Category: <%= @restaurant.category %></p>
  </div>
  <div>
  <%= link_to 'Give a review restaurant', new_restaurant_review_path(@restaurant), class: "btn btn-info text-decoration-none"  %>
  <%= link_to 'Edit restaurant', edit_restaurant_path, class: "btn btn-warning text-decoration-none"  %>
  <%= link_to "Delete restaurant", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-decoration-none"  %>
  </div>
  <%= link_to 'Return to the main menu', restaurants_path, class: "btn btn-info text-decoration-none mt-4 mb-3" %>
  <h2>Reviews</h2>
  <ul class="list-group d-flex">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
      <%= review.content %>
       ------------- Rating:
       <%= review.rating %>
       <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
       </li>
    <% end %>
  </ul>
  <br>
</div>
